*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    border: 2px solid black;
    width: 99.6%;
    height: 13dvh;
    text-align: center;
    font-size: small;
    padding-top: 30px;
    color: green;
    text-decoration: underline;


}
.left{
    border: 2px solid red;
    height: 65dvh;
    float: left;
    width: 30%;
    text-align: center;
    padding-top: 200px;
    color: green;
    text-decoration: underline;
}
.right{
    border: 2px solid blue;
    height: 65dvh;
    /* float: left; */
    width: 70%;
    margin-left: 19rem;
    text-align: center;
    padding-top: 200px;
    color: green;
    text-decoration: underline;
    
}
.footer{
    height: 8dvh;
    border: 2px solid green;
    text-align: center;
    padding-top: 15px;
    color: green;
    text-decoration: underline;
    width: 99.6%;
}

#main{
    width: 1024px;
    margin-left: 9%;
    margin-top: 50px;
}